.sidebar-container {
  display: flex;
}

.sidebar {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: auto;
    background-color: grey ;
    padding: 5px;
    color: black;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

.sidebar button {
  background: transparent;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  color: #fff;
  text-align: left;
  font-size: 16px;
}

.sidebar a {
  padding: 10px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

.sidebar button:hover {
  cursor: pointer;
}

.submenu {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.submenu a {
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
  text-decoration: none;
}

.submenu a:hover {
  cursor: pointer;
}

.submenu a:visited {
  color: #fff;
}
