.main-content{
  text-align: center;
}

.main-content .forum-list{
  text-align: left;
  margin-top: 10px;
  border: 0.1;
  width: auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
}

.main-content .user-list{
  text-align: left;
  margin-top: 10px;
  border: 0.1;
  width: auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
}

.main-content .forum-list:hover{
  cursor: pointer;
  background-color: #ccc;;
}

.main-content .user-list:hover{
  cursor: pointer;
  background-color: #ccc;;
}
